@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Libre+Baskerville');
@font-face {font-family:"Socialico";src:url("fonts/Socialico.eot?") format("eot"),url("fonts/Socialico.woff") format("woff"),url("fonts/Socialico.ttf") format("truetype"),url("fonts/Socialico.svg#Socialico") format("svg");font-weight:normal;font-style:normal;}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1440px;margin: 0 auto;text-align: center;font-family: "Lato"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grid inline */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.inbTop{display: inline-block;vertical-align: top;}
.inbMid{display: inline-block;vertical-align: middle;}
.inbBot{display: inline-block;vertical-align: bottom;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "Socialico"}

/*button*/
.btn {font-size: 17px;font-weight: 400;color: #fff;display: inline-block;padding: 8px 32px;background: #F3B917;border: 1px solid transparent;transition: all 0.5s ease;}
.btn2{background:linear-gradient(to bottom, #ffec64 5%, #F59312 100%);background-color:#ffec64;border-radius:26px;border:1px solid #F59312;display:inline-block;cursor:pointer;color:#152D5E;font-family:Arial;font-style: italic;font-size:20px;font-weight:800;padding:13px 24px;text-decoration:none;transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}
.btn2:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}
/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Libre Baskerville"; font-size: 57px;font-weight: 400;color:#574281;}
h2{font-family: "Libre Baskerville"; font-size: 40px;font-weight: 400;color:#574281;}
/*header*/
#header {position: relative; z-index: 9999; padding: 25px 0 0;}
#header .row{max-width: 1300px}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;position: relative;padding: 25px 4%;}
#header nav ul li a {font-size: 17px; color: #fff;}
#header nav ul li.active-menu:after, #header nav ul li:hover:after {content: "";background: #F3B917; width: 56px; height: 3px;position: absolute;bottom: 10px;left: 50%; transform: translateX(-50%);}
.hdRight.col-8{width: 66.41%;}
/*banner*/
#banner {text-align: right;background: url(../images/common/bannerBg.jpg)no-repeat center top;background-size: cover; border-bottom: 10px solid #F3B917; padding: 40px 0; margin-top: -254px;padding: 420px 0 265px;}
#banner .socialMedia{font-size: 28px; color: #fff;}
#banner .socialMedia a{margin-left: 40px;}
#banner p{font-weight: 300; font-size: 76px; color: #fff; margin: 0 auto;}
#banner p span{display: block;}
#banner p span.clrTxt{color: #F3B917}
/*content*/
#content {}
 /* section1 */
#section1{position: relative;z-index: 999;background: linear-gradient(#DDDDDD 0%, #ffffff 40%); padding: 67px 0 107px; border-bottom: 3px solid #F3B917}
#section1 .left{margin-left: -70px;z-index: 999; position: relative;}
#section1 .left img.books{margin-top: -205px}
#section1 .left img.img1{max-width: 104px; margin-top: 10px;}
#section1 .left img.img2{max-width: 230px; margin-top: 10px;}
#section1 .right{margin-left: -433px;background-color: #fff; padding: 70px 0;}
#section1 .right .s1text{max-width: 634px; text-align: left;margin-left: 460px;}
#section1 .right .s1text p{font-size: 17px; line-height: 30px; max-width: 601px; letter-spacing: 0.7px; margin: 30px 0;}

#section2{position: relative;z-index: 9999;padding: 75px 0;}
#section2 .row{max-width: 1150px}
#section2 .col-7 {width: 58.07%;}
#section2 .left, #section2 .right{text-align: left;}
#section2 h1{max-width: 320px; margin: -110px auto 50px;background: #fff ;}
#section2 h2{position: relative;}
#section2 h2:after{content: ""; background:#F3B917; width: 126px; height: 3px; position: absolute; top:70px; left:0}
#section2 .right p:nth-child(2){font-size: 16px; margin: 50px 0;}
#section2 .right p:nth-child(3){font-family: "Libre Baskerville"; font-size: 25px;font-weight: 400;color:#574281;}
#section2 .right p:nth-child(4){font-size: 16px; margin: 10px 0 30px;}
#section2 .right p:nth-child(5){font-size: 16px; line-height: 30px; margin-bottom: 50px;}
/* section3 */
#section3{background: url(../images/common/bg1.jpg)no-repeat center bottom; background-size: cover;padding: 75px 0;}
#section3 p{max-width: 693px; font-size: 76px; color: #fff;font-weight: 300; text-align: left;margin: 0;}
/* section4 */
#section4 {padding: 90px 0 110px;}
#section4 .left{max-width: 671px; width: 100%;text-align: left;}
#section4 .right{max-width: 525px; width: 100%;text-align: left;}
#section4 h1{position: relative;}
#section4 h1:after{content: "";width: 126px; height: 3px; background: #F3B917; position: absolute; top:80px; left:0}
#section4 .left p:nth-child(2){font-size: 17px; line-height: 30px; max-width: 601px;margin: 35px 0;}
#section4 .left p:nth-child(3){font-size: 23px; font-style: italic;color: #fff;background-color:#574281;padding: 10px 20px;}
#section4 .left p:nth-child(4){font-size: 17px; line-height: 30px; max-width: 601px;margin: 35px 0;}
/* contact-section */
.cntTop{padding: 50px 0;background: #E7AA0C}
.cntTop h2{color: #fff;font-size: 42px; letter-spacing: 10px}
.cntTop .info{width: 376px; min-height: 129px;max-height: 129px;background: #fff;position: relative;margin-top: 50px;}
.cntTop .info.mid{margin: 50px 30px 0;}
.cntTop .info img{position: relative;margin-top: -25px;}
.cntTop .info:after{content: ""; width: 27px;height: 5px;position: absolute;top: 40px; left: 50%;transform: translateX(-50%);background:#F3B917 }
.cntTop .info p.email{font-size: 20px; margin: 30px auto 0;}
.cntTop .info p.phone{font-size: 33px; margin: 20px auto 0;}
.cntTop .info p.socialMedia{font-size: 35px; letter-spacing: 20px; margin: 20px auto 0;}
.cntMid{background: url(../images/common/bg2.jpg)no-repeat 0 70%; background-size: cover;padding: 50px 0;}
.cntMid p{font-family: "Libre Baskerville"; font-size: 44px; color: #fff;margin: 0 auto;}
.cntBot {background: linear-gradient(#DDDDDD 0%, #ffffff 40%);padding: 74px 0 0;}
.cntBot .row{max-width: 1100px;}
.cntBot .qkForm{background: #fff; padding: 50px 90px;position: relative}
.cntBot .qkForm h1{position: relative;z-index: 999; background: #fff; max-width: 484px; margin: 0 auto;}
.cntBot .qkForm:after{content:""; width: 100%;height: 3px; position: absolute;top: 80px;left:0;right: 0; background: #F3B917}
.cntBot .qkForm input[type="text"]{display: inline-block;vertical-align: top;width: 296px; height: 35px;border:none; background: #EAEAEA;margin-top: 20px;}
.cntBot .qkForm input[type="text"].mid{margin: 20px 12px 0}
.cntBot .qkForm input[type="text"]::placeholder{font-family: "Lato"; font-size: 17px; color: #000;}
.cntBot .qkForm textarea{width: 921px; height: 193px;border:none; background: #EAEAEA}
.cntBot .qkForm textarea::placeholder{font-family: "Lato"; font-size: 17px; color: #000;}
/*header*/
/*footer*/
#footer {background: #503D76;padding: 40px 0 0}
.footTop ul {margin: 0;padding: 0}
.footTop ul li {display: inline-block;vertical-align: middle;position: relative;}
.footTop ul li a {font-size: 17px; color: #fff;margin: 0 40px}
#footer .copy, #footer .silver{font-family: "Libre Baskerville"; font-size: 15px; color: #fff;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
